<h1 style="color:#27391C; font-weight:bold; font-style:italic; font-family:Courier; font-size:30px; "> Preprocessing Scraped Movie Data for Analysis </h1>

In [81]:
import os
import pandas as pd
import numpy as np
import time

from googletrans import Translator
from numerize import numerize as nz

from tqdm.notebook import tqdm, trange
tqdm.pandas()

<h5 style="color:#A64D79;font-style:italic; font-weight:bold">Reading the AZ Movies Dataset</h5>

In [82]:
filename = '../data/raw/azmovies.csv' 
az_movies = pd.read_csv(filename)
az_movies

,Unnamed: 0,Title,Genre,Director,Writer,Language,Production Country,Production Company,User Rating,Release Date,Run Time,IMDB Rating,Metascore,Rotten Tomatoes Score
0,0,Flow,"Drama, Comedy, Horror, Crime",NaN,NaN,English,NaN,NaN,8.0,1996-01-01,1h 20min,4.9,NaN,NaN
1,1,Demon City,"Action, Crime, Fantasy, Thriller",Seiji Tanaka,NaN,日本語,Japan,Netflix,6.8,2025-02-26,1h 46min,NaN,NaN,NaN
2,2,Mickey 17,"Science Fiction, Comedy, Adventure, Fantasy",Bong Joon Ho,NaN,English,"United Kingdom, United States of America",Warner Bros. Pictures,7.1,2025-02-28,2h 17min,7.3,75.0,89.0
3,3,Solo Leveling -ReAwakening-,"Action, Adventure, Fantasy, Animation",Shunsuke Nakashige,NaN,日本語,Japan,Aniplex,6.8,2024-11-26,1h 56min,8.6,NaN,NaN
4,4,Wicked,"Drama, Romance, Fantasy",Jon M. Chu,"Winnie Holzman, Dana Fox",English,United States of America,Universal Pictures,6.9,2024-11-20,2h 42min,8.0,73.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,The Secret of Moonacre,"Adventure, Fantasy, Romance",Gábor Csupó,"Lucy Shuttleworth, Graham Alborough",English,"Australia, France, Hungary, United States of A...",Forgan-Smith Entertainment,6.5,2009-02-06,1h 43min,6.0,23.0,NaN
996,996,Girl Haunts Boy,"Fantasy, Romance, Comedy",Emily Ting,NaN,English,"South Korea, United States of America",Fifth Season,6.8,2024-10-09,1h 40min,6.3,92.0,NaN
997,997,Sumuru,"Science Fiction, Fantasy, Adventure, Action",Darrell James Roodt,"Peter Jobin, Harry Alan Towers, Torsten Dewi",English,"Canada, Germany, South Africa, United Kingdom",Tandem Communications,5.3,2003-04-30,1h 30min,3.6,NaN,NaN
998,998,The Man from the Future,"Comedy, Fantasy, Science Fiction, Romance",Cláudio Torres,Cláudio Torres,Português,Brazil,Globo Filmes,7.2,2011-09-02,1h 46min,7.0,NaN,NaN
999,999,TiMER,"Fantasy, Drama, Comedy, Science Fiction, Romance",Jac Schaeffer,NaN,English,United States of America,Present Pictures,6.3,2009-05-14,1h 39min,6.5,69.0,NaN

In [83]:
az_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1000 non-null   int64
 1   Title                  970 non-null    object
 2   Genre                  968 non-null    object
 3   Director               776 non-null    object
 4   Writer                 679 non-null    object
 5   Language               963 non-null    object
 6   Production Country     935 non-null    object
 7   Production Company     956 non-null    object
 8   User Rating            944 non-null    float64
 9   Release Date           970 non-null    object
 10  Run Time               970 non-null    object
 11  IMDB Rating            924 non-null    float64
 12  Metascore              716 non-null    float64
 13  Rotten Tomatoes Score  591 non-null    float64
dtypes: float64(4), int64(1), object(9)
memory usage: 109.5+ KB

In [84]:
len(az_movies)

1000

In [85]:
print(az_movies.columns)

Index(['Unnamed: 0', 'Title', 'Genre', 'Director', 'Writer', 'Language',
       'Production Country', 'Production Company', 'User Rating',
       'Release Date', 'Run Time', 'IMDB Rating', 'Metascore',
       'Rotten Tomatoes Score'],
      dtype='object')

<h5 style="color:#A64D79;font-style:italic; font-weight:bold">Removing Duplicates and Renaming Columns in Movie Data</h5>

In [86]:
az_movies = az_movies.drop_duplicates()




az_movies = az_movies.rename(columns={"Unnamed: 0": "title_id"})

az_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title_id               1000 non-null   int64
 1   Title                  970 non-null    object
 2   Genre                  968 non-null    object
 3   Director               776 non-null    object
 4   Writer                 679 non-null    object
 5   Language               963 non-null    object
 6   Production Country     935 non-null    object
 7   Production Company     956 non-null    object
 8   User Rating            944 non-null    float64
 9   Release Date           970 non-null    object
 10  Run Time               970 non-null    object
 11  IMDB Rating            924 non-null    float64
 12  Metascore              716 non-null    float64
 13  Rotten Tomatoes Score  591 non-null    float64
dtypes: float64(4), int64(1), object(9)
memory usage: 109.5+ KB

In [87]:
az_movies = (
    az_movies.rename(columns={
        'Production Country': 'pro_country',
        'Production Company': 'pro_company',
        'User Rating': 'user_rating',
        'Release Date': 'release_date',
        'Run Time': 'run_time',
        'IMDB Rating': 'imdb_rating',
        'Rotten Tomatoes Score':'rt_score'
    })
)

In [88]:
az_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,run_time,imdb_rating,Metascore,rt_score
0,0,Flow,"Drama, Comedy, Horror, Crime",NaN,NaN,English,NaN,NaN,8.0,1996-01-01,1h 20min,4.9,NaN,NaN
1,1,Demon City,"Action, Crime, Fantasy, Thriller",Seiji Tanaka,NaN,日本語,Japan,Netflix,6.8,2025-02-26,1h 46min,NaN,NaN,NaN
2,2,Mickey 17,"Science Fiction, Comedy, Adventure, Fantasy",Bong Joon Ho,NaN,English,"United Kingdom, United States of America",Warner Bros. Pictures,7.1,2025-02-28,2h 17min,7.3,75.0,89.0
3,3,Solo Leveling -ReAwakening-,"Action, Adventure, Fantasy, Animation",Shunsuke Nakashige,NaN,日本語,Japan,Aniplex,6.8,2024-11-26,1h 56min,8.6,NaN,NaN
4,4,Wicked,"Drama, Romance, Fantasy",Jon M. Chu,"Winnie Holzman, Dana Fox",English,United States of America,Universal Pictures,6.9,2024-11-20,2h 42min,8.0,73.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,The Secret of Moonacre,"Adventure, Fantasy, Romance",Gábor Csupó,"Lucy Shuttleworth, Graham Alborough",English,"Australia, France, Hungary, United States of A...",Forgan-Smith Entertainment,6.5,2009-02-06,1h 43min,6.0,23.0,NaN
996,996,Girl Haunts Boy,"Fantasy, Romance, Comedy",Emily Ting,NaN,English,"South Korea, United States of America",Fifth Season,6.8,2024-10-09,1h 40min,6.3,92.0,NaN
997,997,Sumuru,"Science Fiction, Fantasy, Adventure, Action",Darrell James Roodt,"Peter Jobin, Harry Alan Towers, Torsten Dewi",English,"Canada, Germany, South Africa, United Kingdom",Tandem Communications,5.3,2003-04-30,1h 30min,3.6,NaN,NaN
998,998,The Man from the Future,"Comedy, Fantasy, Science Fiction, Romance",Cláudio Torres,Cláudio Torres,Português,Brazil,Globo Filmes,7.2,2011-09-02,1h 46min,7.0,NaN,NaN
999,999,TiMER,"Fantasy, Drama, Comedy, Science Fiction, Romance",Jac Schaeffer,NaN,English,United States of America,Present Pictures,6.3,2009-05-14,1h 39min,6.5,69.0,NaN

<h5 style="color:#A64D79;font-style:italic; font-weight:bold">Cleaning Whitespace Characters in the 'Production Company' Column</h5>

In [89]:

az_movies.loc[az_movies['pro_company'].str.contains(r'\n|\t', na=False), 'pro_company'] = \
    az_movies['pro_company'].str.replace(r'\n|\t', '', regex=True)

az_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,run_time,imdb_rating,Metascore,rt_score
0,0,Flow,"Drama, Comedy, Horror, Crime",NaN,NaN,English,NaN,NaN,8.0,1996-01-01,1h 20min,4.9,NaN,NaN
1,1,Demon City,"Action, Crime, Fantasy, Thriller",Seiji Tanaka,NaN,日本語,Japan,Netflix,6.8,2025-02-26,1h 46min,NaN,NaN,NaN
2,2,Mickey 17,"Science Fiction, Comedy, Adventure, Fantasy",Bong Joon Ho,NaN,English,"United Kingdom, United States of America",Warner Bros. Pictures,7.1,2025-02-28,2h 17min,7.3,75.0,89.0
3,3,Solo Leveling -ReAwakening-,"Action, Adventure, Fantasy, Animation",Shunsuke Nakashige,NaN,日本語,Japan,Aniplex,6.8,2024-11-26,1h 56min,8.6,NaN,NaN
4,4,Wicked,"Drama, Romance, Fantasy",Jon M. Chu,"Winnie Holzman, Dana Fox",English,United States of America,Universal Pictures,6.9,2024-11-20,2h 42min,8.0,73.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,The Secret of Moonacre,"Adventure, Fantasy, Romance",Gábor Csupó,"Lucy Shuttleworth, Graham Alborough",English,"Australia, France, Hungary, United States of A...",Forgan-Smith Entertainment,6.5,2009-02-06,1h 43min,6.0,23.0,NaN
996,996,Girl Haunts Boy,"Fantasy, Romance, Comedy",Emily Ting,NaN,English,"South Korea, United States of America",Fifth Season,6.8,2024-10-09,1h 40min,6.3,92.0,NaN
997,997,Sumuru,"Science Fiction, Fantasy, Adventure, Action",Darrell James Roodt,"Peter Jobin, Harry Alan Towers, Torsten Dewi",English,"Canada, Germany, South Africa, United Kingdom",Tandem Communications,5.3,2003-04-30,1h 30min,3.6,NaN,NaN
998,998,The Man from the Future,"Comedy, Fantasy, Science Fiction, Romance",Cláudio Torres,Cláudio Torres,Português,Brazil,Globo Filmes,7.2,2011-09-02,1h 46min,7.0,NaN,NaN
999,999,TiMER,"Fantasy, Drama, Comedy, Science Fiction, Romance",Jac Schaeffer,NaN,English,United States of America,Present Pictures,6.3,2009-05-14,1h 39min,6.5,69.0,NaN

<h5 style="color:#A64D79;font-style:italic; font-weight:bold">Using Google Translator to Convert Language Data to English</h5>

In [90]:
print(az_movies['Language'].unique())

['English' '日本語' 'Français' 'Dansk' 'Español' '普通话' 'Deutsch' '广州话 / 廣州話'
 nan '한국어/조선말' 'తెలుగు' 'Nederlands' 'svenska' 'No Language' 'தமிழ்'
 'العربية' 'Italiano' 'ภาษาไทย' 'Pусский' 'Íslenska' 'Український'
 'Bahasa indonesia' 'ελληνικά' 'हिन्दी' 'Český' 'Português' 'Latin'
 'Polski' 'Magyar']

In [91]:
translator = Translator()


unique_languages = az_movies['Language'].dropna().unique()


translation_dict = {}


for lang in unique_languages:
    try:
        translated_text = translator.translate(lang, dest='en').text
        translation_dict[lang] = translated_text
        time.sleep(0.5) 
    except Exception as e:
        print(f"Error translating '{lang}': {e}")
        translation_dict[lang] = lang  


az_movies['Language'] = az_movies['Language'].map(translation_dict)


print(az_movies['Language'].unique())

Error translating 'Deutsch': [WinError 10054] An existing connection was forcibly closed by the remote host
['English' 'Japanese' 'French' 'Danish' 'Español' 'mandarin' 'Deutsch'
 'Guangzhou dialect / Guangzhou dialect' nan 'Korean/Joseon' 'Telugu'
 'Dutch' 'Swedish' 'No Language' 'Tamil' 'Arabic' 'Italian'
 'Thai language' 'Pusian' 'Icelandic' 'Ukrainian' 'Indonesian' 'Greek'
 'Hindi' 'Czech' 'Portuguese' 'Latin' 'Polish' 'Hungarian']

In [92]:
az_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,run_time,imdb_rating,Metascore,rt_score
0,0,Flow,"Drama, Comedy, Horror, Crime",NaN,NaN,English,NaN,NaN,8.0,1996-01-01,1h 20min,4.9,NaN,NaN
1,1,Demon City,"Action, Crime, Fantasy, Thriller",Seiji Tanaka,NaN,Japanese,Japan,Netflix,6.8,2025-02-26,1h 46min,NaN,NaN,NaN
2,2,Mickey 17,"Science Fiction, Comedy, Adventure, Fantasy",Bong Joon Ho,NaN,English,"United Kingdom, United States of America",Warner Bros. Pictures,7.1,2025-02-28,2h 17min,7.3,75.0,89.0
3,3,Solo Leveling -ReAwakening-,"Action, Adventure, Fantasy, Animation",Shunsuke Nakashige,NaN,Japanese,Japan,Aniplex,6.8,2024-11-26,1h 56min,8.6,NaN,NaN
4,4,Wicked,"Drama, Romance, Fantasy",Jon M. Chu,"Winnie Holzman, Dana Fox",English,United States of America,Universal Pictures,6.9,2024-11-20,2h 42min,8.0,73.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,The Secret of Moonacre,"Adventure, Fantasy, Romance",Gábor Csupó,"Lucy Shuttleworth, Graham Alborough",English,"Australia, France, Hungary, United States of A...",Forgan-Smith Entertainment,6.5,2009-02-06,1h 43min,6.0,23.0,NaN
996,996,Girl Haunts Boy,"Fantasy, Romance, Comedy",Emily Ting,NaN,English,"South Korea, United States of America",Fifth Season,6.8,2024-10-09,1h 40min,6.3,92.0,NaN
997,997,Sumuru,"Science Fiction, Fantasy, Adventure, Action",Darrell James Roodt,"Peter Jobin, Harry Alan Towers, Torsten Dewi",English,"Canada, Germany, South Africa, United Kingdom",Tandem Communications,5.3,2003-04-30,1h 30min,3.6,NaN,NaN
998,998,The Man from the Future,"Comedy, Fantasy, Science Fiction, Romance",Cláudio Torres,Cláudio Torres,Portuguese,Brazil,Globo Filmes,7.2,2011-09-02,1h 46min,7.0,NaN,NaN
999,999,TiMER,"Fantasy, Drama, Comedy, Science Fiction, Romance",Jac Schaeffer,NaN,English,United States of America,Present Pictures,6.3,2009-05-14,1h 39min,6.5,69.0,NaN

In [93]:
az_movies['Language'].unique()

array(['English', 'Japanese', 'French', 'Danish', 'Español', 'mandarin',
       'Deutsch', 'Guangzhou dialect / Guangzhou dialect', nan,
       'Korean/Joseon', 'Telugu', 'Dutch', 'Swedish', 'No Language',
       'Tamil', 'Arabic', 'Italian', 'Thai language', 'Pusian',
       'Icelandic', 'Ukrainian', 'Indonesian', 'Greek', 'Hindi', 'Czech',
       'Portuguese', 'Latin', 'Polish', 'Hungarian'], dtype=object)

<h5 style="color:#A64D79;font-style:italic; font-weight:bold">Using String Manipulation and strip() to Extract and Clean Primary Language</h5>

In [94]:
az_movies['Language'] = az_movies['Language'].astype(str).str.split('/').str[0].str.strip()
az_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,run_time,imdb_rating,Metascore,rt_score
0,0,Flow,"Drama, Comedy, Horror, Crime",NaN,NaN,English,NaN,NaN,8.0,1996-01-01,1h 20min,4.9,NaN,NaN
1,1,Demon City,"Action, Crime, Fantasy, Thriller",Seiji Tanaka,NaN,Japanese,Japan,Netflix,6.8,2025-02-26,1h 46min,NaN,NaN,NaN
2,2,Mickey 17,"Science Fiction, Comedy, Adventure, Fantasy",Bong Joon Ho,NaN,English,"United Kingdom, United States of America",Warner Bros. Pictures,7.1,2025-02-28,2h 17min,7.3,75.0,89.0
3,3,Solo Leveling -ReAwakening-,"Action, Adventure, Fantasy, Animation",Shunsuke Nakashige,NaN,Japanese,Japan,Aniplex,6.8,2024-11-26,1h 56min,8.6,NaN,NaN
4,4,Wicked,"Drama, Romance, Fantasy",Jon M. Chu,"Winnie Holzman, Dana Fox",English,United States of America,Universal Pictures,6.9,2024-11-20,2h 42min,8.0,73.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,The Secret of Moonacre,"Adventure, Fantasy, Romance",Gábor Csupó,"Lucy Shuttleworth, Graham Alborough",English,"Australia, France, Hungary, United States of A...",Forgan-Smith Entertainment,6.5,2009-02-06,1h 43min,6.0,23.0,NaN
996,996,Girl Haunts Boy,"Fantasy, Romance, Comedy",Emily Ting,NaN,English,"South Korea, United States of America",Fifth Season,6.8,2024-10-09,1h 40min,6.3,92.0,NaN
997,997,Sumuru,"Science Fiction, Fantasy, Adventure, Action",Darrell James Roodt,"Peter Jobin, Harry Alan Towers, Torsten Dewi",English,"Canada, Germany, South Africa, United Kingdom",Tandem Communications,5.3,2003-04-30,1h 30min,3.6,NaN,NaN
998,998,The Man from the Future,"Comedy, Fantasy, Science Fiction, Romance",Cláudio Torres,Cláudio Torres,Portuguese,Brazil,Globo Filmes,7.2,2011-09-02,1h 46min,7.0,NaN,NaN
999,999,TiMER,"Fantasy, Drama, Comedy, Science Fiction, Romance",Jac Schaeffer,NaN,English,United States of America,Present Pictures,6.3,2009-05-14,1h 39min,6.5,69.0,NaN

<h5 style="color:#A64D79;font-style:italic; font-weight:bold;"> Using .unique() to Display Unique Production Companies</h5>

In [95]:
az_movies["pro_company"].unique()

array([nan, ' Netflix', ' Warner Bros. Pictures', ' Aniplex',
       ' Universal Pictures', ' Seven Bucks Productions',
       ' New Line Cinema', ' Walt Disney Pictures', ' Zagtoon',
       ' Pacific Data Images', ' Animaker', ' Studio Mir',
       ' DreamWorks Animation', ' Focus Features',
       ' Chengdu Coco Cartoon', ' Dune Entertainment',
       ' Beijing Enlight Pictures', ' iQIYI', ' Laika', ' Madhouse',
       ' Paramount Pictures', ' Pixar', ' Davis Films', ' Skydance Media',
       ' Summit Entertainment', ' Constantin Film', ' ufotable',
       ' Walt Disney Animation Studios', ' Marvel Studios', ' KADOKAWA',
       ' Nickelodeon Movies', ' MAPPA', ' Studio Ghibli',
       ' Castle Rock Entertainment', ' Metro-Goldwyn-Mayer',
       ' Paranoid Android Films', ' Jerry Bruckheimer Films',
       ' La Persiana Films', ' Suzanne Todd Productions',
       ' 上海摩天之眼文化传媒有限公司', ' 2 Minutes', ' Smart Entertainment',
       ' PCMA Productions', ' Movistar+', ' Marvel Enterprises',
       ' 1492 Pictures', ' Cinemalaya Foundation', ' Caper Film',
       ' Walt Disney Productions', ' The Awakening Production',
       ' Entertainment One', ' Michael De Luca Productions',
       ' Dark Horse Entertainment', ' Hollywood Pictures',
       ' Lakeshore Entertainment', ' Vyjayanthi Movies', ' ImageMovers',
       ' Tim Burton Productions', ' Rising Star Productions',
       ' Roth Films', ' 20th Century Fox', ' CLAP', ' Alphaville Films',
       ' Toei Animation', ' Amalgamated Dynamics', ' Atlas Entertainment',
       ' Huayi Brothers & Taihe Film Investment', ' Legendary East',
       ' Columbia Pictures', ' TMS Entertainment',
       ' Sony Pictures Animation', ' Amblin Entertainment',
       ' Davis Entertainment', ' ChampDog Films', ' JUDAT ART',
       ' Blinding Edge Pictures', ' Warner Bros. Family Entertainment',
       ' Beijing Culture', ' Touchstone Pictures', ' GFM Animation',
       ' Locksmith Animation', ' Pierrot', ' Pit Bull Productions',
       ' KJR Studios', ' DreamWorks Pictures', ' Ghost Corps',
       " The Donners' Company", ' Sardinha em Lata', ' Nexus Studios',
       ' bilibili', ' RiFF studio', ' Lotte Entertainment',
       ' Moving Picture Company', ' Very Special Projects',
       ' Fox 2000 Pictures', ' Estudios Picasso',
       ' Imagi Animation Studios', ' CoMix Wave Films',
       ' Double Dare You', ' 20th Century Studios',
       ' Yellow, Black & White', ' MTV Entertainment Studios',
       ' 21 Laps Entertainment', ' Legendary Pictures',
       ' Reel FX Creative Studios', ' Screen Gems',
       ' Two Dog Productions', ' The Zanuck Company',
       ' Chernin Entertainment', ' 大路電影製作有限公司',
       ' The Cat in the Hat Productions', ' PŌTOCOL', ' Esperanto Filmoj',
       ' Village Roadshow Pictures', ' Illumination',
       ' Walt Disney Animation Japan', ' Matt Tolmach Productions',
       ' Depth of Field', ' Rovio Animation', ' DisneyToon Studios',
       ' Crystal Sky Pictures', ' WingNut Films',
       ' Animagrad Animation Studio', ' RT Features',
       ' Pontchartrain Productions', ' Thunder Road',
       ' Fox Animation Studios', ' TSG Entertainment',
       ' ARTE France Cinéma', ' Legend3D', ' United Plankton Pictures',
       ' dentsu', ' Atomic Monster', ' Palari Films', ' Jersey Films',
       ' Paramount Animation', ' Screenplay Films', ' Liberty Films',
       ' Inspirational Films', ' Diagonal Pictures', ' Stage 6 Films',
       ' Flower Films', ' The Princess Bride Ltd.', ' BONES',
       ' Rainmaker Entertainment', ' Nickel City Pictures',
       ' Relativity Media',
       ' Kumar Mobiliengesellschaft mbH & Co. Projekt Nr. 3 KG',
       ' Michigan Venture Capital', ' Retrophiles',
       ' Gladden Entertainment', ' Toei Company', ' Feigco Entertainment',
       ' Warner Bros. Television', ' Casual Friday Productions', ' TOHO',
       ' Studio Colorido', ' Canal+', ' FilmWave', ' NeoReel',
       ' Centropolis Entertainment', ' 8bit', ' Artisan Entertainment',
       ' Propaganda Films', ' Campbell Grobman Films', ' Orion Pictures',
       ' River Road Entertainment', ' Bird Studios', ' Phoenix Pictures',
       ' Avery Pix', ' Hanna-Barbera Productions',
       ' Bad Angels Productions, Ltd.', ' Regency Enterprises',
       ' Open Mind Production', ' A24', ' Original Film',
       ' Disney Television Animation', ' Python (Monty) Pictures Limited',
       ' Geffen Pictures', ' Lionsgate', ' Blue Sky Studios',
       ' Quadrant Pictures', ' Live Entertainment', ' Golden Mean',
       ' Argos Films', ' Retromedia Entertainment',
       ' Eivissa Productions', ' China Film Group Corporation',
       ' Warner Bros. Animation', ' Singularity Films',
       ' Paramount Players', ' Cinereach', ' Scott Rudin Productions',
       ' Universal 1440 Entertainment', ' Beacon Pictures',
       ' Working Title Films', ' Light Chaser Animation Studios',
       ' Filmko Film', ' Allied Filmmakers', ' Square Enix',
       ' The Jim Henson Company',
       ' American Entertainment Partners II L.P.',
       ' Troublemaker Studios', ' The Harvey Entertainment Company',
       ' Annapurna Pictures', ' Voltage Pictures',
       ' Casey Silver Productions', ' Studio Chizu', ' Star Overseas',
       ' The NeverEnding Story Film', ' BlackBird', ' Cinema City',
       ' Davis-Panzer Productions', ' STUDIO PONOC',
       ' Epica Pictures INC', ' Gullane Entretenimento', ' Likely Story',
       ' Dimension Films', ' Shueisha', ' Filmgate Films',
       ' Jagged Edge Productions', ' Phantom Four', ' TriStar Pictures',
       ' Bloor Street Productions', ' 87North Productions',
       ' Sirena Film', ' Lorimar Film Entertainment', ' 87Eleven',
       ' EOTA', ' Front Row Filmed Entertainment', ' Oscar 10 Studio',
       ' Bucanero Filmes', ' Proportion Productions',
       ' Morningside Productions', ' Largo Entertainment',
       ' Princessa Productions', ' Googly Films',
       ' Pure Flix Entertainment', ' Three Strange Angels',
       ' Mainframe Entertainment', ' Vertigo Entertainment',
       ' Atresmedia', ' Marvy Jack', ' 河南木雨文化传媒有限公司', ' Radar Films',
       ' KanZaman Productions', ' CTB Film Company', ' Warner Premiere',
       ' Kyoto Animation', ' EuropaCorp', ' TSC TSC  CINEMA',
       ' DNA Productions', ' Pronto Film', ' Motion Blur',
       ' Misher Films', ' Silver Screen Partners II',
       ' Golden Spike (II)', ' TAFT Entertainment Pictures',
       ' Walt Disney Animation', ' Capcom',
       ' Mattel Playground Productions', ' NoneMore Productions',
       ' Mid Atlantic Films', ' HMV Digital China Group Limited',
       ' Pressman Film', ' Edko Films', ' Digital Theatre',
       ' Living Films', ' Sidus', ' TAT Productions', ' Boulder Media',
       ' Production I.G', ' Third Man Entertainment', ' Filmko Pictures',
       ' Animex Producciones', ' Goldcrest', ' Film4 Productions',
       ' Wolfkill', ' Beyond C.', ' Renaissance Pictures',
       ' Doom Buggy Productions', ' J.P. Films', ' DC', ' AMUSE',
       ' Filmadora', ' Clubhouse Pictures',
       ' Hong Hwa International Films (H.K.) Ltd.', ' SHAFT',
       ' Studio Deen', ' E&H production', ' Studio Dragon',
       ' MarVista Entertainment', ' SF Studios', ' Spelling Films',
       ' Warner Bros. Pictures Animation', ' DNA Films',
       ' Flying Bark Productions', ' Cartoon Saloon', ' Playtone',
       ' Apipoulaï Productions', ' Juli Entertainment Media',
       ' An Olive Branch Productions', ' TV Asahi',
       ' FilmNation Entertainment', ' New World Pictures',
       ' Rich Animation Studios', ' Autopilot Entertainment',
       ' Flute Film', ' Nippon Television Network Corporation',
       ' Bidangil Pictures', ' American Empirical Pictures',
       ' Michael White Productions', ' Kinema Citrus',
       ' New Regency Pictures', ' World 2000 Entertainment', ' Shochiku',
       ' MTJJ', ' Appian Way', ' 260 Degrees Entertainment',
       ' Sullivan Bluth Studios', ' Mattel Television', ' Cygames',
       ' Constellation', ' White Fox', ' Marvel Animation',
       ' Tribeca Productions', ' Will Packer Productions',
       " Xi'an Film Studio", ' PolyGram Filmed Entertainment',
       ' Revolution Studios', ' Handmade Films',
       ' Lightbox Animation Studios', ' khara',
       ' Contagious Entertainment', ' Soficinéma 2',
       ' Non-Stop Productions', ' Franklin/Waterman Productions',
       ' Shin-Ei Animation', ' Czech Anglo Pictures',
       ' Atlantic Entertainment Group', ' 7C Productions',
       ' United Artists', ' Ulysses Filmproduktion',
       ' Walt Disney Television', ' Fujiko Productions', ' Home Free',
       ' Epsilon Motion Pictures', ' Krasnoff / Foster Entertainment',
       ' Cartoon Network Studios', ' nWave Pictures',
       ' Bazelevs Production', ' Blue Eyes Fiction', ' Film Futures',
       ' Rainforest Productions', ' Clearwater Holdings Limited',
       ' Grass Temple Films', ' Front Street Pictures',
       ' Nickelodeon Productions', ' Fidélité Films',
       ' Aryavision Pictures', ' Resonate Entertainment', ' Mattel',
       ' Buffalo Gal Pictures', ' Intermedia',
       ' Hengdian Chinese Film Production Co.',
       ' Bregman/Baer Productions', ' Fireworks Pictures',
       ' Exodus Film Group', ' Ánima Estudios', ' DC Entertainment',
       ' Interscope Communications', ' Artémis Productions', ' Fresh TV',
       ' Blumhouse Productions', ' Russian Film Group',
       ' George Minter Productions', ' Art et essai', ' Caravan Pictures',
       ' United Entertainment Partners', ' Santa Clara Productions',
       ' FLAT STUDIO', ' J.C.STAFF', ' Mallery Films', ' Swargachitra',
       ' Fine Line Features', ' Animal Logic', ' Di Novi Pictures',
       ' Science SARU', ' Timeless Films', ' WV Films LLC',
       ' Toy Fight Productions', ' Paquin Entertainment Group',
       ' TF1 Films Production', ' Trimark Pictures', ' Konrad Pictures',
       ' Woods Entertainment', ' NAS', ' Groenlandia',
       ' Zinc Entertainment Inc.', ' Tunche Films',
       ' Beacon Communications', ' SpectreVision',
       ' Chris Lee Productions', ' Mosaic Media Group', ' Firstep',
       ' Jon Shestack Productions', ' October Media',
       ' Bayerischer Banken-Fonds', ' The Match Factory',
       ' Footprint Features', ' DEFA', ' World Film Magic',
       ' Saban Entertainment', ' Burbank Animation Studios',
       ' Road Rebel', ' CloverWorks', ' Galaxy Films Inc.',
       ' Producciones Anhelo', ' Heritage Films',
       ' Rock Solid Productions', ' Choi Sing Din Ying Gung Shut',
       ' GulfStream Pictures', ' Eastern International Pictures Group',
       ' Turner Network Television', ' Splendid Film', ' Pathe',
       ' Alcon Entertainment', ' Beijing New Picture Film Co. Ltd.',
       ' Nepenthe Film', ' Kinology', ' Nerd Corps Entertainment',
       ' P.A.WORKS', ' KirchMedia', ' Studio Swan',
       ' Full Moon Entertainment', ' Ingenious Media', ' Bandai Visual',
       ' Cinematograph AB', ' FGM Entertainment', ' KGB Studio',
       ' Asatsu-DK', ' XYZ Films', ' Shogakukan Production',
       ' The Contents On', ' Boll Kino Beteiligungs GmbH & Co. KG',
       ' Cinema Plus', ' SUNRISE', ' Zazi Films',
       ' Temple Hill Entertainment', ' Bron Studios',
       ' Motion Picture Corporation of America', ' Warner Bros. Japan',
       ' Horipro', ' AMLF', ' Montford / Murphy Productions',
       ' Wes Craven Films', ' Forgan-Smith Entertainment',
       ' Fifth Season', ' Tandem Communications', ' Globo Filmes',
       ' Present Pictures'], dtype=object)

<h5 style="color:#A64D79;font-style:italic; font-weight:bold;">Using Google Translator to Standardize Production Company Names</h5>

In [96]:
translator = Translator()

unique_companies = az_movies['pro_company'].dropna().unique()

def translate_to_english(text):
    try:
        return translator.translate(text, dest='en').text 
    except:
        return text  


translation_map = {company: translate_to_english(company) for company in unique_companies}


az_movies['pro_company'] = az_movies['pro_company'].map(translation_map)

print(az_movies['pro_company'].unique())

[nan 'Netflix' 'Warner Bros. Pictures' 'Aniplex' 'Universal Pictures'
 'Seven Bucks Productions' 'New Line Cinema' 'Walt Disney Pictures'
 'Zestone' 'Pacific Data Images' 'Animaker' 'Studio me'
 'DreamWorks Animation' 'Focus Features' 'Chengdu Coco Cartoon'
 'Dune Entertainment' 'Beijing Enlight Pictures' 'IQIYI' 'Time' 'Madhouse'
 'Paramount Pictures' 'Pixar' 'Davis Films' 'Skydance media'
 'Summit Entertainment' 'Constantin Film' 'ufotable'
 'Walt Disney Animation Studios' 'Marvel Studios' 'Kadokawa'
 'Nickelodeon Movies' 'MAP' 'Studio Ghibli' 'Castle Rock Entertainment'
 'Metro-Goldwyn-Mayer' 'Paranoid Android Films' 'Jerry Bruckheimer Films'
 'The Blind Films' 'Suzanne Todd Productions'
 'Shanghai Ferris Eye Culture Media Co., Ltd.' '2 Minutes'
 'Smart Entertainment' 'PCMA Productions' 'Movistar+' 'Marvel Enterprises'
 '1492 Pictures' 'Cinemalaya Foundation' 'Caper Film'
 'Walt Disney Productions' 'The Awakening Production' 'Entertainment One'
 'Michael de Luca Productions' 'Dark Horse Entertainment'
 'Hollywood Pictures' 'Lakeshore Entertainment' 'Vyjayanthi movie'
 'Imagemovers' 'Tim Burton Productions' 'Rising Star Productions'
 'Roth Films' '20th Century Fox' 'CLAP' 'Alphaville Films'
 'Toei Animation' 'Amalgamated Dynamics' 'Atlas Entertainment'
 'Huayi Brothers & Taihe Film Investment' 'Legendary East'
 'Columbia Pictures' 'TMS Entertainment' 'Sony Pictures Animation'
 'Amblin Entertainment' 'Davis Entertainment' 'ChampDog Films' 'JUDAT ART'
 'Blinding Edge Pictures' 'Warner Bros. Family Entertainment'
 'Beijing Culture' 'Touchstone Pictures' 'GFM Animation'
 'Locksmith Animation' 'Pierrot' 'Pit Bull Productions' 'KJR studios'
 'DreamWorks Pictures' 'Ghost Corps' "The Donners' Company" 'Sardine'
 'Nexus Studios' 'biliable' 'RiFF studio' 'Lotte Entertainment'
 'Moving Picture Company' 'Very Special Projects' 'Fox 2000 Pictures'
 'Picasso studies' 'Imagi Animation Studios' 'CoMix Wave Films'
 'Double Dare You' '20th Century Studios' 'Yellow, Black & White'
 'MTV Entertainment Studios' '21 Laps Entertainment' 'Legendary Pictures'
 'Reel FX Creative Studios' 'Screen Gems' 'Two Dog Productions'
 'The Zanuck Company' 'Chernin Entertainment'
 'Dalu Film Production Co., Ltd.' 'The Cat in the Hat Productions'
 'PŌTOCOL' 'Esperanto movies' 'Village Roadshow Pictures' 'Illumination'
 'Walt Disney Animation Japan' 'Matt TromMica Productions'
 'Depth of Field' 'Rovio Animation' 'DisneyToon Studios'
 'Crystal Sky Pictures' 'WingNut Films' 'Animagrad Animation Studio'
 'RT Features' 'Pontchartrain Productions' 'Thunder Road'
 'Fox Animation Studios' 'TSG Entertainment' 'Arte France Cinema'
 'Legend3D' 'United Plankton Pictures' 'Dents' 'Atomic Monster'
 'Palari Films' 'Jersey Films' 'Paramount Animation' 'Screenplay Films'
 'Liberty Films' 'Inspirational Films' 'Diagonal Pictures' 'Stage 6 Films'
 'Flower Films' 'The Princess Bride Ltd.' 'BONES'
 'Rainmaker Entertainment' 'Nickel City Pictures' 'Relativity Media'
 'Kumar Mobiliengesellschaft mbH & Co. Project No. 3 KG'
 'Michigan Venture Capital' 'Retrophiles' 'Gladden Entertainment'
 'Toei Company' 'Feigco Entertainment' 'Warner Bros. Television'
 'Casual Friday Productions' 'That' 'Colorful Studio' 'Canal+' ' FilmWave'
 'Neoral' 'Centropolis Entertainment' '8bit' 'Artisan Entertainment'
 'Propaganda Films' 'Campbell Grobman Films' 'Orion Pictures'
 'River Road Entertainment' 'Bird Studios' 'Phoenix Pictures' 'Avery Pix'
 'Hanna-Barbera Productions' 'Bad Angels Productions, Ltd.'
 'Regency Enterprises' 'Open Mind Production' 'A 4' 'Original Film'
 'Disney Television Animation' 'Python (Monty) Pictures Limited'
 'Geffen Pictures' 'Lionsgate' 'Blue Sky Studios' 'Quadrant Pictures'
 'Live Entertainment' 'Golden Mean' 'Argos Films'
 'Retromedia Entertainment' 'Eivissa Productions'
 'China Film Group Corporation' 'Warner Bros. Animation'
 'Singularity Films' 'Paramount Players' 'Cinereach'
 'Scott Rudin Productions' 'Universal 1440 Entertainment'
 'Beacon Pictures' 'Working Title Films' 'Light Chaser Animation Studios'
 'Film film' 'Allied Filmmakers' 'Square Enix' 'The Jim Henson Company'
 'American Entertainment Partners II L.P.' 'Troublemaker Studios'
 'The Harvey Entertainment Company' 'Annapurna Pictures'
 'Voltage Pictures' 'Casey Silver Productions' 'S Tsujio Map'
 'Star Overseas' 'The NeverEnding Story Film' 'BlackBird' 'Cinema City'
 'Davis-Panzer Productions' 'Studio apparently' 'Epica Pictures INC'
 'Gullane Entertainment' 'Likely Story' 'Dimension Films' 'Shueisha'
 'Filmgate Films' 'Jagged Edge Productions' 'Phantom Four'
 'TriStar Pictures' 'Bloor Street Productions' '87North Productions'
 'Sirena Film' 'Lorimar Film Entertainment' '87eleven' 'ETA'
 'Front Row Filmed Entertainment' 'Oscar 10 Studio' 'Bucanero Movies'
 'Proportion Productions' 'Morningside Productions' 'Largo Entertainment'
 'Princessa Productions' 'Googly Films' 'Pure Flix Entertainment'
 'Three Strange Angels' 'Mainframe Entertainment' 'Vertigo Entertainment'
 'Atresmedia' 'Marvy Jack' 'Henan Muyu Culture Media Co., Ltd.'
 'Radar movies' 'KanZaman Productions' 'CTB Film Company'
 'Warner Premiere' 'Kyoto Animation' 'Europacorp' 'TSC TSC  CINEMA'
 'DNA Productions' 'Ready movie' 'Motion Blur' 'Misher Films'
 'Silver Screen Partners II' 'Golden Spike (II)'
 'TAFT Entertainment Pictures' 'Walt Disney Animation' 'Capcom'
 'Mattel Playground Productions' 'NoneMore Productions'
 'Mid Atlantic Films' 'HMV Digital China Group Limited' 'Pressman Film'
 'Caustic to Philms' 'Digital Theatre' 'Living Films' 'Coherent'
 'TAT Productions' 'Boulder Media' 'Production I.G'
 'Third Man Entertainment' 'Filmko Pictures' 'ANIMEX PRODUCCIONES'
 'Goldcrest' 'Film4 Productions' 'Wolfkill' 'Beyond C.'
 'Renaissance Pictures' 'Doom Buggy Productions' 'J.P. Films' 'DC' 'AMUSE'
 'Camcorder' 'Clubhouse Pictures'
 'Hong Hwa International Films (H.K.) Ltd.' 'SHAFT' 'Studio that'
 'E&H production' 'Studio Dragon' 'MarVista Entertainment' 'SF Studios'
 'Spelling Films' 'Warner Bros. Pictures Animation' 'DNA Films'
 'Flying Bark Productions' 'Cartoon Saloon' 'Playtone'
 'Apipoulaï Productions' 'July Entertainment Media'
 'An Olive Branch Productions' 'TV Ashi' 'FilmNation Entertainment'
 'New World Pictures' 'Rich Animation Studios' 'Autopilot Entertainment'
 'Flute Film' 'Nippon Television Network Corporation' 'Pictures Fields'
 'American Empirical Pictures' 'Michael White Productions' 'Kinema Citrus'
 'New Regency Pictures' 'World 2000 Entertainment' 'Regions' 'Mtjj'
 'Appian Way' '260 Degrees Entertainment' 'Sullivan Bluth Studios'
 'Mattel Television' 'Cygames' 'Constellation' 'White Fox'
 'Marvel Animation' 'Tribeca Productions' 'Will Packer Productions'
 "Xi'an Film Studio" 'PolyGram Filmed Entertainment' 'Revolution Studios'
 'Handmade Films' 'Lightbox Animation Studios' 'Steep'
 'Contagious Entertainment' 'Sofestinma 2' 'Non-Stop Productions'
 'Franklin/Waterman Productions' 'Shin-not animation'
 'Czech Anglo Pictures' 'Atlantic Entertainment Group' '7C Productions'
 'United Artists' "Ulysse's film production" 'Walt Disney Television'
 'Fujiko Productions' 'Home Free' 'Epsilon Motion Pictures'
 'Krasnoff / Foster Entertainment' 'Cartoon Network Studios'
 'nWave Pictures' 'Baszeevs Production' 'Blue Eyes Fiction' 'Film Futures'
 'Rainforest Productions' 'Clearwater Holdings Limited'
 'Grass Temple Films' 'Front Street Pictures' 'Nickelodeon Productions'
 'Films loyalty' 'Aryavision Pictures' 'Resonate Entertainment' 'Mattel'
 'Buffalo Gal Pictures' 'Intermedia'
 'H Eng Point Chinese film production co.' 'Bregman/Baer Productions'
 'Fireworks Pictures' 'Exodus Film Group' 'Soul studies'
 'DC Entertainment' 'Interscope Communications' 'Artemis Productions'
 'Fresh TV' 'Blumhouse Productions' 'Russian Film Group'
 'George Minter Productions' 'Art and test' 'Caravan Pictures'
 'United Entertainment Partners' 'Santa Clara Productions' 'FLAT STUDIO'
 'J.C.Staff' 'Mallery Films' 'Swargachitra' 'Fine Line Features'
 'Animal Logic' 'At Novi Pictures' 'Science SARU' 'Timeless Films'
 'WV Films LLC' 'Toy Fight Productions' 'Paquin Entertainment Group'
 'TF1 Films Production' 'Trimark Pictures' 'Konrad Pictures'
 'Woods Entertainment' 'NAS' 'Greenland' 'Zinc Entertainment Inc.'
 'Tunch movies' 'Beacon Communications' 'SpectreVision'
 'Chris Lee Productions' 'Mosaic Media Group' 'Firstep'
 'Jon Shestack Productions' 'October Media' 'Bavarian banking funds'
 'The Match Factory' 'Footprint Features' 'TIMES' 'World Film Magic'
 'Saban Entertainment' 'Burbank Animation Studios' 'Road Rebel'
 'CloverWorks' 'Galaxy Films Inc.' 'Longing productions' 'Heritage Films'
 'Rock Solid Productions' 'Choi Sing Din Ying Gung Shut'
 'GulfStream Pictures' 'Eastern International Pictures Group'
 'Turner Network Television' 'Splend movie' 'Pathe' 'Alcon Entertainment'
 'Beijing New Picture Film Co. Ltd.' 'Nepenthe Film' 'Kinology'
 'Nerd Corps Entertainment' ' P.A.WORKS' 'KirchMedia' 'Studio Swan'
 'Full Moon Entertainment' 'Ingenious Media' 'Bandai Visual'
 'Cinematograph AB' 'FGM Entertainment' 'KGB Studio' 'Asa Two DK'
 'XYZ Films' 'Shogakukan Production' 'The Contents On'
 'Boll Kino Beteiligungs GmbH & Co. KG' 'Cinema Plus' 'SUNRISE'
 'Know Films' 'Temple Hill Entertainment' 'Bron Studios'
 'Motion Picture Corporation of America' 'Warner Bros. Japan' 'Horipro'
 'Amlf' 'Montford / Murphy Productions' 'Wes Craven Films'
 'Forgan-Smith Entertainment' 'Fifth Season' 'Tandem Communications'
 'Globo Movies' 'Present Pictures']

<h5 style="color:#A64D79;font-style:italic; font-weight:bold;">Using Regex to Replace Empty Strings and NaN Values with None</h5>

In [97]:
az_movies = az_movies.replace(r'^\s*$', None, regex=True).replace({np.nan: None})

In [98]:
az_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,run_time,imdb_rating,Metascore,rt_score
0,0,Flow,"Drama, Comedy, Horror, Crime",None,None,English,None,None,8.0,1996-01-01,1h 20min,4.9,None,None
1,1,Demon City,"Action, Crime, Fantasy, Thriller",Seiji Tanaka,None,Japanese,Japan,Netflix,6.8,2025-02-26,1h 46min,None,None,None
2,2,Mickey 17,"Science Fiction, Comedy, Adventure, Fantasy",Bong Joon Ho,None,English,"United Kingdom, United States of America",Warner Bros. Pictures,7.1,2025-02-28,2h 17min,7.3,75.0,89.0
3,3,Solo Leveling -ReAwakening-,"Action, Adventure, Fantasy, Animation",Shunsuke Nakashige,None,Japanese,Japan,Aniplex,6.8,2024-11-26,1h 56min,8.6,None,None
4,4,Wicked,"Drama, Romance, Fantasy",Jon M. Chu,"Winnie Holzman, Dana Fox",English,United States of America,Universal Pictures,6.9,2024-11-20,2h 42min,8.0,73.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,The Secret of Moonacre,"Adventure, Fantasy, Romance",Gábor Csupó,"Lucy Shuttleworth, Graham Alborough",English,"Australia, France, Hungary, United States of A...",Forgan-Smith Entertainment,6.5,2009-02-06,1h 43min,6.0,23.0,None
996,996,Girl Haunts Boy,"Fantasy, Romance, Comedy",Emily Ting,None,English,"South Korea, United States of America",Fifth Season,6.8,2024-10-09,1h 40min,6.3,92.0,None
997,997,Sumuru,"Science Fiction, Fantasy, Adventure, Action",Darrell James Roodt,"Peter Jobin, Harry Alan Towers, Torsten Dewi",English,"Canada, Germany, South Africa, United Kingdom",Tandem Communications,5.3,2003-04-30,1h 30min,3.6,None,None
998,998,The Man from the Future,"Comedy, Fantasy, Science Fiction, Romance",Cláudio Torres,Cláudio Torres,Portuguese,Brazil,Globo Movies,7.2,2011-09-02,1h 46min,7.0,None,None
999,999,TiMER,"Fantasy, Drama, Comedy, Science Fiction, Romance",Jac Schaeffer,None,English,United States of America,Present Pictures,6.3,2009-05-14,1h 39min,6.5,69.0,None

<h5 style="color:#A64D79;font-style:italic; font-weight:bold;">Removing Rows with Missing Titles</h5>

In [99]:
az_movies = az_movies.dropna(subset=['Title'])

In [100]:
az_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 970 entries, 0 to 999
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title_id      970 non-null    int64
 1   Title         970 non-null    object
 2   Genre         968 non-null    object
 3   Director      776 non-null    object
 4   Writer        679 non-null    object
 5   Language      970 non-null    object
 6   pro_country   935 non-null    object
 7   pro_company   956 non-null    object
 8   user_rating   944 non-null    object
 9   release_date  970 non-null    object
 10  run_time      970 non-null    object
 11  imdb_rating   924 non-null    object
 12  Metascore     716 non-null    object
 13  rt_score      591 non-null    object
dtypes: int64(1), object(13)
memory usage: 113.7+ KB

<h5 style="color:#A64D79;font-style:italic; font-weight:bold;">Replacing Missing Ratings with Zero</h5>

In [101]:
columns_to_fill = ['user_rating', 'imdb_rating', 'Metascore', 'rt_score']
az_movies.loc[:, columns_to_fill] = az_movies.loc[:, columns_to_fill].fillna(0)
az_movies

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_376\3591729230.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  az_movies.loc[:, columns_to_fill] = az_movies.loc[:, columns_to_fill].fillna(0)

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,run_time,imdb_rating,Metascore,rt_score
0,0,Flow,"Drama, Comedy, Horror, Crime",None,None,English,None,None,8.0,1996-01-01,1h 20min,4.9,0.0,0.0
1,1,Demon City,"Action, Crime, Fantasy, Thriller",Seiji Tanaka,None,Japanese,Japan,Netflix,6.8,2025-02-26,1h 46min,0.0,0.0,0.0
2,2,Mickey 17,"Science Fiction, Comedy, Adventure, Fantasy",Bong Joon Ho,None,English,"United Kingdom, United States of America",Warner Bros. Pictures,7.1,2025-02-28,2h 17min,7.3,75.0,89.0
3,3,Solo Leveling -ReAwakening-,"Action, Adventure, Fantasy, Animation",Shunsuke Nakashige,None,Japanese,Japan,Aniplex,6.8,2024-11-26,1h 56min,8.6,0.0,0.0
4,4,Wicked,"Drama, Romance, Fantasy",Jon M. Chu,"Winnie Holzman, Dana Fox",English,United States of America,Universal Pictures,6.9,2024-11-20,2h 42min,8.0,73.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,The Secret of Moonacre,"Adventure, Fantasy, Romance",Gábor Csupó,"Lucy Shuttleworth, Graham Alborough",English,"Australia, France, Hungary, United States of A...",Forgan-Smith Entertainment,6.5,2009-02-06,1h 43min,6.0,23.0,0.0
996,996,Girl Haunts Boy,"Fantasy, Romance, Comedy",Emily Ting,None,English,"South Korea, United States of America",Fifth Season,6.8,2024-10-09,1h 40min,6.3,92.0,0.0
997,997,Sumuru,"Science Fiction, Fantasy, Adventure, Action",Darrell James Roodt,"Peter Jobin, Harry Alan Towers, Torsten Dewi",English,"Canada, Germany, South Africa, United Kingdom",Tandem Communications,5.3,2003-04-30,1h 30min,3.6,0.0,0.0
998,998,The Man from the Future,"Comedy, Fantasy, Science Fiction, Romance",Cláudio Torres,Cláudio Torres,Portuguese,Brazil,Globo Movies,7.2,2011-09-02,1h 46min,7.0,0.0,0.0
999,999,TiMER,"Fantasy, Drama, Comedy, Science Fiction, Romance",Jac Schaeffer,None,English,United States of America,Present Pictures,6.3,2009-05-14,1h 39min,6.5,69.0,0.0

<h5 style="color:#A64D79;font-style:italic; font-weight:bold;">Using .astype(float) to Convert Rating Columns to Numeric Data</h5>

In [102]:
cols_to_convert = ['user_rating', 'imdb_rating', 'Metascore', 'rt_score']

for col in cols_to_convert:
    az_movies.loc[:, col] = az_movies.loc[:, col].astype(float, errors='ignore')

In [103]:
az_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 970 entries, 0 to 999
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title_id      970 non-null    int64
 1   Title         970 non-null    object
 2   Genre         968 non-null    object
 3   Director      776 non-null    object
 4   Writer        679 non-null    object
 5   Language      970 non-null    object
 6   pro_country   935 non-null    object
 7   pro_company   956 non-null    object
 8   user_rating   970 non-null    object
 9   release_date  970 non-null    object
 10  run_time      970 non-null    object
 11  imdb_rating   970 non-null    object
 12  Metascore     970 non-null    object
 13  rt_score      970 non-null    object
dtypes: int64(1), object(13)
memory usage: 113.7+ KB

In [104]:
az_movies['pro_country'].unique()

array([None, 'Japan', 'United Kingdom, United States of America',
       'United States of America',
       'Japan, New Zealand, United States of America', 'France',
       'Denmark, Finland, Germany, Ireland',
       'Poland, South Korea, United States of America',
       'DreamWorks Animation', 'New Line Cinema', 'Warner Bros. Pictures',
       'China', 'New Zealand, United States of America',
       'Universal Pictures', 'United States of America, United Kingdom',
       'iQIYI', 'Laika', 'Walt Disney Pictures', 'Paramount Pictures',
       'Davis Films', 'Spain, United States of America',
       'Germany, Switzerland', 'Czech Republic, Germany', 'KADOKAWA',
       'Studio Ghibli', 'Castle Rock Entertainment',
       'Suzanne Todd Productions',
       'Canada, France, South Korea, United Kingdom', '上海摩天之眼文化传媒有限公司',
       'ufotable', 'Canada, France', 'Movistar+',
       'Switzerland, United States of America', 'Cinemalaya Foundation',
       'Caper Film', 'China, France, Canada', 'Entertainment One',
       'Dark Horse Entertainment', 'India',
       'Belgium, France, Germany, Spain, United States of America',
       'Toei Animation', 'China, Hong Kong, United States of America',
       'China, Japan, United States of America', 'Columbia Pictures',
       'Sony Pictures Animation',
       'Canada, India, United States of America', 'United Kingdom',
       'Blinding Edge Pictures', 'Beijing Culture',
       'Canada, United Kingdom, United States of America',
       'China, France, India, United States of America', 'Pierrot',
       'Ghost Corps', "The Donners' Company", 'France, Portugal, Spain',
       'United States of America, Germany', 'Thailand',
       'Lotte Entertainment',
       'Brazil, Canada, United Kingdom, United States of America',
       'Mexico, Spain, United States of America',
       'Hong Kong, Japan, United States of America', 'Russia',
       'MTV Entertainment Studios',
       'Australia, Canada, United States of America',
       'China, United States of America', 'Two Dog Productions',
       'Chernin Entertainment', '大路電影製作有限公司',
       'Mexico, United Kingdom, United States of America',
       'Japan, United States of America', 'Matt Tolmach Productions',
       'Rovio Animation', 'United States of America, China, Poland',
       'India, United States of America', 'Crystal Sky Pictures',
       'United Kingdom, New Zealand, United States of America',
       'Animagrad Animation Studio', 'Brazil, United States of America',
       'France, Spain, United States of America',
       'Germany, United States of America', 'ARTE France Cinéma',
       'Legend3D', 'United States of America, France', 'dentsu',
       'Indonesia', 'United Kingdom, United States of America, Australia',
       'Canada, Hong Kong, United States of America',
       'Mexico, United States of America',
       'Australia, United States of America', 'Focus Features',
       'Diagonal Pictures', 'United States of America, Japan, Hungary',
       'China, Germany, United States of America',
       'Rainmaker Entertainment', 'Lakeshore Entertainment',
       'South Korea', 'Warner Bros. Television',
       'France, United States of America',
       'Australia, Denmark, United States of America', 'France, Germany',
       'Switzerland, United Kingdom, United States of America',
       'United States of America, South Africa, New Zealand',
       'Bulgaria, United States of America, France, Canada',
       'Canada, United States of America', 'Phoenix Pictures',
       'Bad Angels Productions, Ltd.',
       'India, United Kingdom, United States of America', 'Poland',
       'Germany, Japan, United Kingdom, United States of America',
       'Lionsgate',
       'Canada, Hong Kong, Luxembourg, United States of America',
       'Canada, Germany, United Kingdom, United States of America',
       'Retromedia Entertainment', 'China, Hong Kong',
       'United States of America, China, Czech Republic',
       'United States of America, Spain',
       'Australia, Hong Kong, United States of America', 'Screen Gems',
       'Japan, United Kingdom, United States of America',
       'Germany, Hong Kong, Japan, United Kingdom, United States of America',
       'Voltage Pictures',
       'China, Canada, United States of America, United Kingdom',
       'France, United Kingdom, United States of America', 'Germany',
       'CoMix Wave Films', 'Hong Kong', 'STUDIO PONOC',
       'United States of America, Australia', 'Epica Pictures INC',
       'Brazil, Canada, China, France, South Korea, United Kingdom',
       'Brazil, India', 'United States of America, Canada, France',
       'India, Sweden',
       'United Kingdom, Brazil, United States of America',
       'United States of America, Canada', '87North Productions',
       'Czech Republic, Ireland, Norway',
       'Lebanon, United Arab Emirates, United States of America',
       'South Africa, United States of America',
       'United States of America, Germany, Belgium', 'Googly Films',
       'Czech Republic, France, United Kingdom, United States of America',
       'United States of America, United Kingdom, France',
       'Mainframe Entertainment', 'Spain',
       'Iceland, United Kingdom, United States of America',
       'Japan, South Korea', '河南木雨文化传媒有限公司',
       'United Kingdom, United States of America, Hungary',
       'France, Spain', 'Brazil', 'Ukraine', 'Norway', 'Capcom',
       'Mattel Playground Productions',
       'Japan, United States of America, United Kingdom',
       'China, Hong Kong, Japan', 'Hong Kong, United States of America',
       'Sidus', 'Canada, Ireland',
       'France, Germany, Luxembourg, Netherlands, United Kingdom, United States of America',
       'Canada', 'Double Dare You', 'Metro-Goldwyn-Mayer', 'Taiwan',
       'Filmko Pictures',
       'Brazil, Canada, France, South Korea, United Kingdom, United States of America',
       'Mexico', 'Ireland, United Kingdom, United States of America',
       'Wolfkill', 'Italy, United States of America',
       'Universal 1440 Entertainment', 'Sweden', 'DNA Films',
       'Australia, Belgium', 'Belgium, France, Ireland',
       'River Road Entertainment',
       'Canada, Ireland, United States of America',
       'An Olive Branch Productions',
       'Japan, South Korea, United Kingdom', 'FilmNation Entertainment',
       'Flute Film', 'Kinema Citrus', 'Village Roadshow Pictures',
       'Germany, Italy, United Kingdom, United States of America',
       'Ireland, United Kingdom', 'MTJJ', 'Madhouse',
       'Ireland, United States of America', 'Canada, China, France',
       'France, Germany, Spain, United Kingdom', 'Dimension Films',
       'United States of America, United Kingdom, Australia',
       'Summit Entertainment', 'Czech Republic, United States of America',
       'Atlantic Entertainment Group',
       'Belgium, Canada, Germany, United Kingdom',
       'Cartoon Network Studios', 'Disney Television Animation',
       'Mattel Television', 'Belgium, France, United Kingdom',
       'Russia, United States of America', 'Austria, Germany, Italy',
       'Warner Bros. Animation', 'Fidélité Films', 'Mattel',
       'United States of America, Belgium', 'China, Russia',
       'Belgium, France', 'A24',
       'United Kingdom, Germany, Russia, Ukraine, Czech Republic',
       'George Minter Productions', 'FLAT STUDIO', 'J.C.STAFF',
       'Fine Line Features',
       'Canada, South Korea, Spain, United States of America',
       'Constantin Film', 'Germany, Belgium, Spain, France, Italy',
       'Italy', 'Germany, United Kingdom, United States of America',
       'Peru', 'Belgium, United Kingdom, United States of America',
       'Warner Premiere',
       'Australia, China, France, Hong Kong, United Kingdom, United States of America',
       'Aniplex',
       'United Kingdom, Denmark, Germany, Ireland, Italy, Sweden',
       'DC Entertainment', 'Czechoslovakia, East Germany',
       'Hong Kong, United Kingdom, United States of America', 'Australia',
       'Jon Shestack Productions', 'Mexico, Spain', 'Germany, Poland',
       'Shueisha', 'United Kingdom, France',
       'China, Hong Kong, United Kingdom, United States of America',
       'Czech Republic, Denmark, Iceland, Norway, Sweden',
       'France, Canada', 'P.A.WORKS', 'Studio Colorido',
       'Romania, United States of America', 'Sweden, Germany, France',
       'Beyond C.', 'XYZ Films', 'Shogakukan Production',
       'Canada, Germany, United States of America', 'SUNRISE',
       'France, Germany, Italy',
       'China, United Kingdom, United States of America',
       'Australia, France, Hungary, United States of America',
       'South Korea, United States of America',
       'Canada, Germany, South Africa, United Kingdom'], dtype=object)

In [105]:
az_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,run_time,imdb_rating,Metascore,rt_score
0,0,Flow,"Drama, Comedy, Horror, Crime",None,None,English,None,None,8.0,1996-01-01,1h 20min,4.9,0.0,0.0
1,1,Demon City,"Action, Crime, Fantasy, Thriller",Seiji Tanaka,None,Japanese,Japan,Netflix,6.8,2025-02-26,1h 46min,0.0,0.0,0.0
2,2,Mickey 17,"Science Fiction, Comedy, Adventure, Fantasy",Bong Joon Ho,None,English,"United Kingdom, United States of America",Warner Bros. Pictures,7.1,2025-02-28,2h 17min,7.3,75.0,89.0
3,3,Solo Leveling -ReAwakening-,"Action, Adventure, Fantasy, Animation",Shunsuke Nakashige,None,Japanese,Japan,Aniplex,6.8,2024-11-26,1h 56min,8.6,0.0,0.0
4,4,Wicked,"Drama, Romance, Fantasy",Jon M. Chu,"Winnie Holzman, Dana Fox",English,United States of America,Universal Pictures,6.9,2024-11-20,2h 42min,8.0,73.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,The Secret of Moonacre,"Adventure, Fantasy, Romance",Gábor Csupó,"Lucy Shuttleworth, Graham Alborough",English,"Australia, France, Hungary, United States of A...",Forgan-Smith Entertainment,6.5,2009-02-06,1h 43min,6.0,23.0,0.0
996,996,Girl Haunts Boy,"Fantasy, Romance, Comedy",Emily Ting,None,English,"South Korea, United States of America",Fifth Season,6.8,2024-10-09,1h 40min,6.3,92.0,0.0
997,997,Sumuru,"Science Fiction, Fantasy, Adventure, Action",Darrell James Roodt,"Peter Jobin, Harry Alan Towers, Torsten Dewi",English,"Canada, Germany, South Africa, United Kingdom",Tandem Communications,5.3,2003-04-30,1h 30min,3.6,0.0,0.0
998,998,The Man from the Future,"Comedy, Fantasy, Science Fiction, Romance",Cláudio Torres,Cláudio Torres,Portuguese,Brazil,Globo Movies,7.2,2011-09-02,1h 46min,7.0,0.0,0.0
999,999,TiMER,"Fantasy, Drama, Comedy, Science Fiction, Romance",Jac Schaeffer,None,English,United States of America,Present Pictures,6.3,2009-05-14,1h 39min,6.5,69.0,0.0

<h5 style="color:#A64D79;font-style:italic; font-weight:bold;">Filtering and Cleaning Production Countries</h5>

In [106]:
valid_countries = [
    "United States of America", "India", "France", "Germany", "Japan", "Mexico", 
    "Spain", "Indonesia", "China", "Belgium", "United Kingdom", "Italy", "Thailand", 
    "Switzerland", "Cyprus", "Denmark", "Finland", "Ireland", "South Korea", 
    "New Zealand", "Portugal", "Hong Kong", "Poland","Sweden","Peru","Norway","Ukraine"
]  # Add more

# Ensure 'pro_country' exists in az_movies df
if 'pro_country' in az_movies.columns:
    # Convert 'pro_country' to string type
    az_movies.loc[:, 'pro_country'] = az_movies['pro_country'].astype(str)

    # Replace values that are not in valid_countries with None
    az_movies.loc[~az_movies['pro_country'].isin(valid_countries), 'pro_country'] = None

    print(az_movies['pro_country'].unique())
else:
    print("Column 'pro_country' not found in az_movies.")

[None 'Japan' 'United States of America' 'France' 'China' 'India'
 'United Kingdom' 'Thailand' 'Indonesia' 'South Korea' 'Poland' 'Germany'
 'Hong Kong' 'Spain' 'Ukraine' 'Norway' 'Mexico' 'Sweden' 'Italy' 'Peru']

In [107]:
az_movies["pro_country"].unique()

array([None, 'Japan', 'United States of America', 'France', 'China',
       'India', 'United Kingdom', 'Thailand', 'Indonesia', 'South Korea',
       'Poland', 'Germany', 'Hong Kong', 'Spain', 'Ukraine', 'Norway',
       'Mexico', 'Sweden', 'Italy', 'Peru'], dtype=object)

<h5 style="color:#A64D79;font-style:italic; font-weight:bold;">Handling Matching Production Country and Company</h5>

In [108]:

az_movies['pro_country'] = az_movies['pro_country'].mask(az_movies['pro_country'] == az_movies['pro_company'], np.nan)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_376\1827384664.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  az_movies['pro_country'] = az_movies['pro_country'].mask(az_movies['pro_country'] == az_movies['pro_company'], np.nan)

In [109]:
az_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,run_time,imdb_rating,Metascore,rt_score
0,0,Flow,"Drama, Comedy, Horror, Crime",None,None,English,None,None,8.0,1996-01-01,1h 20min,4.9,0.0,0.0
1,1,Demon City,"Action, Crime, Fantasy, Thriller",Seiji Tanaka,None,Japanese,Japan,Netflix,6.8,2025-02-26,1h 46min,0.0,0.0,0.0
2,2,Mickey 17,"Science Fiction, Comedy, Adventure, Fantasy",Bong Joon Ho,None,English,None,Warner Bros. Pictures,7.1,2025-02-28,2h 17min,7.3,75.0,89.0
3,3,Solo Leveling -ReAwakening-,"Action, Adventure, Fantasy, Animation",Shunsuke Nakashige,None,Japanese,Japan,Aniplex,6.8,2024-11-26,1h 56min,8.6,0.0,0.0
4,4,Wicked,"Drama, Romance, Fantasy",Jon M. Chu,"Winnie Holzman, Dana Fox",English,United States of America,Universal Pictures,6.9,2024-11-20,2h 42min,8.0,73.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,The Secret of Moonacre,"Adventure, Fantasy, Romance",Gábor Csupó,"Lucy Shuttleworth, Graham Alborough",English,None,Forgan-Smith Entertainment,6.5,2009-02-06,1h 43min,6.0,23.0,0.0
996,996,Girl Haunts Boy,"Fantasy, Romance, Comedy",Emily Ting,None,English,None,Fifth Season,6.8,2024-10-09,1h 40min,6.3,92.0,0.0
997,997,Sumuru,"Science Fiction, Fantasy, Adventure, Action",Darrell James Roodt,"Peter Jobin, Harry Alan Towers, Torsten Dewi",English,None,Tandem Communications,5.3,2003-04-30,1h 30min,3.6,0.0,0.0
998,998,The Man from the Future,"Comedy, Fantasy, Science Fiction, Romance",Cláudio Torres,Cláudio Torres,Portuguese,None,Globo Movies,7.2,2011-09-02,1h 46min,7.0,0.0,0.0
999,999,TiMER,"Fantasy, Drama, Comedy, Science Fiction, Romance",Jac Schaeffer,None,English,United States of America,Present Pictures,6.3,2009-05-14,1h 39min,6.5,69.0,0.0

<h5 style="color:#A64D79;font-style:italic; font-weight:bold;">Using Explode Function to Normalize Multi-Value Columns</h5>

In [110]:
import pandas as pd
import ast

def explode_column(az_movies, column_name, new_column_name):
    df_expanded = az_movies[['title_id', column_name]].copy()  
        
    def safe_convert_list(value):
        if isinstance(value, str):  
            try:
                return ast.literal_eval(value) if value.startswith('[') else value.split(', ')
            except (SyntaxError, ValueError):
                return value.split(', ')  
        elif isinstance(value, list):
            return value  
        else:
            return [value]  

    df_expanded[column_name] = df_expanded[column_name].apply(safe_convert_list)
    df_expanded = df_expanded.explode(column_name).dropna().reset_index(drop=True)
    df_expanded.rename(columns={column_name: new_column_name}, inplace=True)
    return df_expanded

writers_df = explode_column(az_movies, 'Writer', 'writer_name')
genres_df = explode_column(az_movies, 'Genre', 'genre')
production_companies_df = explode_column(az_movies, 'pro_company', 'company_name')
languages_df = explode_column(az_movies, 'Language', 'languages')
country_df = explode_column(az_movies, 'pro_country', 'country')
director_df = explode_column(az_movies,'Director','director_name')

az_movies = az_movies.drop(columns=['Writer', 'Genre', 'pro_company', 'Language', 'pro_country','Director'])


print("Genres DataFrame:\n", genres_df)
print("Writers DataFrame:\n", writers_df)
print("Languages DataFrame:\n", languages_df)
print("Production Companies DataFrame:\n", production_companies_df)
print("Origin Countries DataFrame:\n", country_df)
print("director DataFrame:\n",director_df)

Genres DataFrame:
       title_id            genre
0            0            Drama
1            0           Comedy
2            0           Horror
3            0            Crime
4            1           Action
...        ...              ...
3501       999          Fantasy
3502       999            Drama
3503       999           Comedy
3504       999  Science Fiction
3505       999          Romance

[3506 rows x 2 columns]
Writers DataFrame:
       title_id        writer_name
0            4     Winnie Holzman
1            4           Dana Fox
2            5       Chris Morgan
3            6     Phoebe Gittins
4            6  Arty Papageorgiou
...        ...                ...
1193       995   Graham Alborough
1194       997        Peter Jobin
1195       997  Harry Alan Towers
1196       997       Torsten Dewi
1197       998     Cláudio Torres

[1198 rows x 2 columns]
Languages DataFrame:
      title_id   languages
0           0     English
1           1    Japanese
2           2     English
3           3    Japanese
4           4     English
..        ...         ...
965       995     English
966       996     English
967       997     English
968       998  Portuguese
969       999     English

[970 rows x 2 columns]
Production Companies DataFrame:
      title_id                company_name
0           1                     Netflix
1           2       Warner Bros. Pictures
2           3                     Aniplex
3           4          Universal Pictures
4           5     Seven Bucks Productions
..        ...                         ...
958       995  Forgan-Smith Entertainment
959       996                Fifth Season
960       997       Tandem Communications
961       998                Globo Movies
962       999            Present Pictures

[963 rows x 2 columns]
Origin Countries DataFrame:
      title_id                   country
0           1                     Japan
1           3                     Japan
2           4  United States of America
3           5  United States of America
4           8                    France
..        ...                       ...
497       989  United States of America
498       990  United States of America
499       991  United States of America
500       994  United States of America
501       999  United States of America

[502 rows x 2 columns]
director DataFrame:
      title_id        director_name
0           1         Seiji Tanaka
1           2         Bong Joon Ho
2           3   Shunsuke Nakashige
3           4           Jon M. Chu
4           5          Jake Kasdan
..        ...                  ...
904       995          Gábor Csupó
905       996           Emily Ting
906       997  Darrell James Roodt
907       998       Cláudio Torres
908       999        Jac Schaeffer

[909 rows x 2 columns]

In [111]:
def add_unique_id(df, name_column, id_column):
    unique_values = df[name_column].unique()
    id_mapping = {name: idx + 1 for idx, name in enumerate(unique_values)}
    df[id_column] = df[name_column].map(id_mapping).astype(int)
    return df, id_mapping

# Add IDs to each table
writers_df, writer_mapping = add_unique_id(writers_df, 'writer_name', 'writer_id')
genres_df, genre_mapping = add_unique_id(genres_df, 'genre', 'genre_id')
production_companies_df, company_mapping = add_unique_id(production_companies_df, 'company_name', 'company_id')
languages_df, language_mapping = add_unique_id(languages_df, 'languages', 'language_id')
country_df, country_mapping = add_unique_id(country_df, 'country', 'country_id')
director_df, director_mapping = add_unique_id(director_df, 'director_name', 'director_id')

In [112]:
master_df = az_movies[['title_id', 'Title', 'release_date', 'run_time']]

# Merge IDs into master_df
master_df = master_df.merge(writers_df[['title_id', 'writer_id']], on='title_id', how='left')
master_df = master_df.merge(genres_df[['title_id', 'genre_id']], on='title_id', how='left')
master_df = master_df.merge(production_companies_df[['title_id', 'company_id']], on='title_id', how='left')
master_df = master_df.merge(languages_df[['title_id', 'language_id']], on='title_id', how='left')
master_df = master_df.merge(country_df[['title_id', 'country_id']], on='title_id', how='left')
master_df = master_df.merge(director_df[['title_id', 'director_id']], on='title_id', how='left')

# Ensure all ID columns are integers (replace NaN with 0 before converting)
id_columns = ['writer_id', 'genre_id', 'company_id', 'language_id', 'country_id', 'director_id']
master_df[id_columns] = master_df[id_columns].fillna(0).astype(int)

In [113]:
languages_df

     title_id   languages  language_id
0           0     English            1
1           1    Japanese            2
2           2     English            1
3           3    Japanese            2
4           4     English            1
..        ...         ...          ...
965       995     English            1
966       996     English            1
967       997     English            1
968       998  Portuguese           26
969       999     English            1

[970 rows x 3 columns]

In [114]:
production_companies_df

     title_id                company_name  company_id
0           1                     Netflix           1
1           2       Warner Bros. Pictures           2
2           3                     Aniplex           3
3           4          Universal Pictures           4
4           5     Seven Bucks Productions           5
..        ...                         ...         ...
958       995  Forgan-Smith Entertainment         458
959       996                Fifth Season         459
960       997       Tandem Communications         460
961       998                Globo Movies         461
962       999            Present Pictures         462

[963 rows x 3 columns]

In [115]:
country_df

     title_id                   country  country_id
0           1                     Japan           1
1           3                     Japan           1
2           4  United States of America           2
3           5  United States of America           2
4           8                    France           3
..        ...                       ...         ...
497       989  United States of America           2
498       990  United States of America           2
499       991  United States of America           2
500       994  United States of America           2
501       999  United States of America           2

[502 rows x 3 columns]

In [116]:
director_df

     title_id        director_name  director_id
0           1         Seiji Tanaka            1
1           2         Bong Joon Ho            2
2           3   Shunsuke Nakashige            3
3           4           Jon M. Chu            4
4           5          Jake Kasdan            5
..        ...                  ...          ...
904       995          Gábor Csupó          647
905       996           Emily Ting          648
906       997  Darrell James Roodt          649
907       998       Cláudio Torres          650
908       999        Jac Schaeffer          651

[909 rows x 3 columns]

<h5 style="color:#A64D79;font-style:italic;font-weight:bold;">Using Column Splitting to Create a Separate Ratings DataFrame</h5>

In [117]:
rating_columns = ['title_id', 'user_rating', 'imdb_rating', 'Metascore', 'rt_score']
rating_df = az_movies[rating_columns].copy()
az_movies = az_movies.drop(columns=['user_rating', 'imdb_rating', 'Metascore', 'rt_score'])

In [118]:
rating_df

     title_id user_rating imdb_rating Metascore rt_score
0           0         8.0         4.9       0.0      0.0
1           1         6.8         0.0       0.0      0.0
2           2         7.1         7.3      75.0     89.0
3           3         6.8         8.6       0.0      0.0
4           4         6.9         8.0      73.0     88.0
..        ...         ...         ...       ...      ...
995       995         6.5         6.0      23.0      0.0
996       996         6.8         6.3      92.0      0.0
997       997         5.3         3.6       0.0      0.0
998       998         7.2         7.0       0.0      0.0
999       999         6.3         6.5      69.0      0.0

[970 rows x 5 columns]

In [119]:
az_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 970 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title_id      970 non-null    int64
 1   Title         970 non-null    object
 2   release_date  970 non-null    object
 3   run_time      970 non-null    object
dtypes: int64(1), object(3)
memory usage: 37.9+ KB

<h4 style="color:#A64D79;font-style:italic; font-weight:bold;">Using SQLite to Store and Query Normalized Movie Data</h4>

In [120]:
import sqlite3

In [121]:
DATA_FOLDER = os.path.join('../data/clean')

In [122]:
conn = sqlite3.connect(os.path.join(DATA_FOLDER, './Movies.db'))

In [123]:
master_df.to_sql('movies_master', conn, if_exists='replace', index=False)

6442

In [124]:
pd.read_sql('SELECT * FROM movies_master LIMIT 5', conn)

,title_id,Title,release_date,run_time,writer_id,genre_id,company_id,language_id,country_id,director_id
0,0,Flow,1996-01-01,1h 20min,0,1,0,1,0,0
1,0,Flow,1996-01-01,1h 20min,0,2,0,1,0,0
2,0,Flow,1996-01-01,1h 20min,0,3,0,1,0,0
3,0,Flow,1996-01-01,1h 20min,0,4,0,1,0,0
4,1,Demon City,2025-02-26,1h 46min,0,5,1,2,1,1

In [125]:
genres_df.to_sql('geners', conn, if_exists='replace', index=False)

3506

In [126]:
pd.read_sql('SELECT * FROM geners LIMIT 5', conn)

   title_id   genre  genre_id
0         0   Drama         1
1         0  Comedy         2
2         0  Horror         3
3         0   Crime         4
4         1  Action         5

In [127]:
languages_df.to_sql('languages', conn, if_exists='replace', index=False)

970

In [128]:
pd.read_sql('SELECT * FROM languages LIMIT 5', conn)

   title_id languages  language_id
0         0   English            1
1         1  Japanese            2
2         2   English            1
3         3  Japanese            2
4         4   English            1

In [129]:
rating_df.to_sql('ratings',conn, if_exists='replace', index=False)

970

In [130]:
pd.read_sql('SELECT * FROM ratings LIMIT 5', conn)

   title_id  user_rating  imdb_rating  Metascore  rt_score
0         0          8.0          4.9        0.0       0.0
1         1          6.8          0.0        0.0       0.0
2         2          7.1          7.3       75.0      89.0
3         3          6.8          8.6        0.0       0.0
4         4          6.9          8.0       73.0      88.0

In [131]:
production_companies_df.to_sql('pro_company',conn, if_exists='replace', index=False)

963

In [132]:
pd.read_sql('SELECT * FROM pro_company LIMIT 5', conn)

   title_id             company_name  company_id
0         1                  Netflix           1
1         2    Warner Bros. Pictures           2
2         3                  Aniplex           3
3         4       Universal Pictures           4
4         5  Seven Bucks Productions           5

In [133]:
country_df.to_sql('pro_country',conn, if_exists='replace', index=False)

502

In [134]:
pd.read_sql('SELECT * FROM pro_country LIMIT 5', conn)

   title_id                   country  country_id
0         1                     Japan           1
1         3                     Japan           1
2         4  United States of America           2
3         5  United States of America           2
4         8                    France           3

In [135]:
writers_df.to_sql('screen_writers',conn, if_exists='replace', index=False)

1198

In [136]:
pd.read_sql('SELECT * FROM screen_writers LIMIT 5', conn)

   title_id        writer_name  writer_id
0         4     Winnie Holzman          1
1         4           Dana Fox          2
2         5       Chris Morgan          3
3         6     Phoebe Gittins          4
4         6  Arty Papageorgiou          5

In [137]:
director_df.to_sql('directors',conn, if_exists='replace', index=False)

909

In [138]:
pd.read_sql('SELECT * FROM directors LIMIT 5', conn)

   title_id       director_name  director_id
0         1        Seiji Tanaka            1
1         2        Bong Joon Ho            2
2         3  Shunsuke Nakashige            3
3         4          Jon M. Chu            4
4         5         Jake Kasdan            5

In [139]:
conn.commit()

In [140]:
conn.close()